[user]
    name = "kirill denisov"
    email = "kirilledition@protonmail.com"
[github]
    user = kirilledition
[credential "https://github.com"]
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper = !gh auth git-credential
[core]
    editor = micro
